body {
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.header {
    top: auto;
    left: auto;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
   font-size: 50px;
   color: darkgrey;
   font-weight: 450;
   text-decoration: none;
   margin: 15px;
   white-space: nowrap;
}

@media (max-width: 768px) {
    .logo {
        font-size: 1.8rem;
    }
}

nav a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
    font-family: "Inter", sans-serif; 
      
}

nav a:hover {
    color: darkgrey
}

.intro {
    height: 50vh;
    display: flex;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-weight: normal;
    font-size: 17.5px;
    font-family: "Inter", sans-serif;
}

.button-box a {
    padding: 16px 10px;
    margin-top: 12px;
    background: black;
    border: 1px solid black;
    font-size: 16px;
    font-weight: 600;
    color:white;
    text-decoration: none;
    letter-spacing: .5px;
    display:inline-flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
}

.button-box a:hover {
    background: darkgray;
    color: white;
    font-family: "Inter", sans-serif;
    transition: width 0.2s ease-in-out, background-color 0.2s ease-in-out;   
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    gap: 20px;
    padding: 20px;
}

.project-card {
    position: relative;
    overflow: hidden;
}

.project-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s;
}

.project-card:hover img {
    transform: scale(1.05);
}

.project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
    text-align: center;
    padding: 10px;
    font-family: "Inter", sans-serif;
    font-size: 30px;
}

.project-card:hover .overlay {
    opacity: 1;
    font-family: "Inter", sans-serif;
    font-size: 30px;
}

.project-card.span {
    grid-column: span 2;
}

.project-card.span2 {
    grid-column: span 1;
}

.project-card.large {
    grid-column: 1 / -1;
}

@media (max-width: 900px) {
    .projects-grid {
        grid-template-columns: 1fr 1fr;
    }
    
    .project-card.span {
        grid-column: span 2;
    }
    
    .project-card.span2 {
        grid-column: span 1;
    }

    .project-card .large {
        grid-column: 1 / -1;
    }
}

@media (max-width: 600px) {
     .projects-grid {
        grid-template-columns: 1fr;
    }
    
    .project-card.span {
        grid-column: 1 / -1;
    }

    .project-card.span2 {
        grid-column: 1 / -1;
    }
    
    .project-card .large {
        grid-column: 1 / -1;
      
    }
}

.copyright {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    padding: 15px 20px;
    font-family: "Inter", sans-serif;
    color: rgb(113, 113, 113);;
}
            
.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
            
.right {
    display: flex;
    flex-direction: column;
    text-align: right;
              
}

.right a {
    text-decoration: none;
    color:rgb(113, 113, 113);
}

.right a:hover { 
    color: rgb(176, 176, 176);
}
            
.copyright {
    float: left;margin-top: 0px;
}
            

h4 {
    font-weight: 50;
    font-size: 75%;
}






