body {
    background-color: #F9F8F4;
    color: #544E4E;
    font-family: Verdana, sans-serif;
}

.evenrow {
    background-color:lightgrey
}

h1, h2 {   
    color:#495E48;
}

a {
    color:#334334; 
} 

nav {
    background-color: #d8d5d5;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: black;
}

nav a:hover {
    background-color: #C5C0BF;
}