body {
    background-color: #F9F8F4;
    color: #544E4E;
    font-family: Verdana, sans-serif;
}

.evenrow {
    background-color:lightgrey
}

h1, h2 {   
    color:#495E48;
}

a {
    color:#5C715E; 
} 

nav {
    background-color: #A79F9F;
    padding: 10px;
    margin-bottom: 30px;
}

nav a {
    color: #524E4E;
}

nav a:hover {
    background-color: #C5C0BF;
}

.skills-row {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    margin-bottom: 20px;
}

.other-skills {
    background-color: lightgray;
    color: #524E4E;
    border-radius: 10px;
    padding: 15px;
}

.flexbox-2 {
    display: flex;
    margin-top: 30px;
}

.left-column {
    flex: 3;
}

.right-column {
    flex: 1;
}

.main-content {
    padding: 15px;
    margin: 20px;
}

